# git config file: exclude these directories from the git repo.

# temporary files generated during test runs:
/.tests/output/*
/.tests/temp/*
**/*.csproj
**/*.cmi
**/*.cmx
**/*.hi
**/*.o
**/*.obj
**/*.pdb
**/*.jar
**/*.exe
**/.bsp/
**/.scala-build/
Directory.Build.props
