# Config for git [ignore](https://git-scm.com/docs/gitignore).

# temporary files generated during test runs:
/.tests/output/*
/.tests/temp/*
**/*.csproj
**/*.cmi
**/*.cmx
**/*.hi
**/*.o
**/*.obj
**/*.pdb
**/*.jar
**/*.exe
**/.bsp/
**/.scala-build/
/target/
Directory.Build.props
