# git config file: exclude these directories from the git repo.

# temporary files generated during test runs:
/.tests/output/*
/.tests/temp/*
**/*.csproj
**/*.hi
**/*.o
**/*.obj
**/*.pdb
**/*.jar
**/*.exe
Directory.Build.props
